.parent{
    padding: 2%;
    margin-left: 30%;
    margin-right: 30%;
}
.card{
    height: 20px;
    width: 40%;
    background: #EDC7B7;
    box-shadow: #123C69;
    border: #123C69;
    box-sizing: border-box;
    border-color: #123C69;
    border-radius: 5px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
}
.card-header{
    color: #123C69;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body{
    color: #123C69;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.button{
    color: white;
    background-color: #123C69;

}
.alt-button{
    color: white;
    background-color: #ac3b61;
}